body {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.app {
  height: 98vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 2em;
}